.conteiner {
    display: flex;
    height: calc(100vh - 10px);
    overflow: auto;
}

.left-section {
    flex: 1;
    background-color: burlywood;
    width: 75%;
}

.splitter {
    background-color: blueviolet;
    width: 10px;
    cursor: col-resize;
}

.right-section {
    background-color: cornflowerblue;
    width: 25%;
}

.toggle-icon {
    cursor: pointer;
}

.p-text {
    margin: 10px;
}